h2 {
    margin-bottom: 20px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 12px;
}

.buttonGroup {
    display: flex;
    align-items: stretch;
    gap: 15px;
    margin-bottom: 30px;
}

.openNewPageButton {
    width: 100%;
}

.customButton {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 5px;
}

.groups {
    flex: 1;
    padding: 15px;
}

.mergin {
    margin-left: 5px;
}
